body{
    font-family: "Montserrat", serif;
    margin:0;
    padding:0;
    background-color: #000;
    color:#fff;
    /*total website-no scrollable content-except music content*/
    overflow:hidden;
}
.main{
    display:flex;
    height:100vh;
}
.sidebar{
    background-color:#000;
    width:300px;
    margin:8px;
    border-radius:1rem;/*16px*/
}
.main-content{
    background-color:#121212;
    flex:1;
    overflow:auto;
    margin:8px 0;
    border-radius:1rem;
    padding:0 1.5rem;
}
.music-player{
    background-color:#000;
    position:fixed;
    bottom:0;
    height:72px;
    width:100%;
}
a{
    text-decoration:none;
    color:#fff;
}
/* Side bar Section*/
/*inside content design: use rem units*/
/*out side layout design: rem or px units*/
.nav{
    background-color: #121212;
    border-radius: 1rem;
    height:80px;
    padding:0.5rem 0.75rem;
    display:flex;
    flex-direction:column;
}
.nav-option{
    line-height:2.5rem;
    opacity:0.6;
    padding-left:0.75rem;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size:0.9rem;
    margin-left:1rem;
    font-weight: 500;
}
.nav-option:hover{
    opacity:1;
}
img{
    height:1.2rem;
    width:1.2rem;
}
.library{
    background-color: #121212;
    border-radius:1rem;
    height:100%;
    margin-top:0.5rem;
    padding:0.5rem 0.6rem;
}
.options{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.icons{
    display: flex;
}
.icons i{
    opacity:0.7;
    margin-right:0.5rem;
    padding-left:0.75rem;
}
.icons i:hover{
    opacity:1;
}
.card1{
    background-color:#232323;
    border-radius:0.75rem;
    padding:0.25rem 0 0.5rem 1rem;
    margin:0.75rem 0;
}
.card2{
    background-color:#232323;
    border-radius:0.75rem;
    padding:0.25rem 0 0.5rem 1rem;
    margin:0.75rem 0;
}
.para1{
    font-weight:800;
    font-size:0.8rem;
}
.para2{
    font-size:0.65rem;
}
.badge{
    border:none;
    border-radius:1rem;
    font-weight:600;
    padding:0.4rem 0.8rem;
    /* margin-top: 1rem;  */
}
.badge-lib{
    margin-top:1rem;
}
/*Main Content Section*/
.sticky-nav{
    position:sticky;
    top:0;
    background-color:#121212;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0.3rem 0;
    z-index: 1;
}
.sticky-nav-icons img{
    margin-left:1rem;
    padding:0.35rem;
    
}
.sticky-nav-icons img:hover{
    background-color: #000;
    border-radius:50%;
}
.sticky-nav-options{
    display:flex;
    align-items: end;
}
.sticky-nav-options{
    display:flex;
    margin-right:1.5rem;
}
.sticky-nav-options button{
    margin-right:1rem;
}
.sticky-nav-options .install{
    background-color: #000;
    color:#fff;
    padding:0.4rem 0.8rem;
}
.sticky-nav-options .fa-user{
    background-color: #000;
    padding:0.4rem;
    border-radius: 50%;
}
@media(max-width:1000px){
    .hide{
        display:none;
    }
}
.cards-header{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.cards-header a{
    color:grey;
}
.cards-header a:hover{
    text-decoration: #fff underline;
}
.card-container{
    display:flex;
    flex-wrap: wrap;
}
.card-item{
    height:250px;
    width:180px;
    padding:0.8rem;
    border-radius:0.5rem;
}
.card-item:hover{
    background-color: #232323;
}
.card-img{
    height:60%;
    width:100%;
    border-radius: 0.25rem;
}
.card-title{
    font-weight:800;
    font-size:1rem;
}
.card-text{
    font-size:0.8rem;
    opacity:0.7;
    line-height: 1.3rem;
}
.artist-img{
    height:70%;
    width:100%;
    border-radius: 50%;
}
.radio-item{
    height:240px;
}
.radio-img{
    height:75%;
    width:100%;
    border-radius: 0.25rem;
}
.bottom-section{
    margin:1rem 0 8rem 0;
}
.subheadings{
    font-size: 0.75rem;
    opacity:0.7;
    line-height: 0.8rem;
}
.footer1{
    display:flex;
    margin-top:2rem;
}
.heading{
    height:200px;
    width:180px;
    margin:0 1rem 0.2rem 0;
}
.heading a{
    padding:0.5rem;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.1);
    margin-left: 0.4rem;
}
.heading a:hover{
    background-color: rgba(255,255,255,0.3);
}
.footer-hr{
    opacity:0.3;margin-right: 1rem;
}
.footer2{
    margin:2rem 1rem 4rem 0;
    font-size: 0.75rem;
    color: darkgray;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.first a{
    margin-right:1rem;
    opacity:0.7;
}
.footer2 a:hover{
    opacity: 1;
}
/*Music Player Section*/
.music-player{
    display:flex;
}
.album{
    width:25%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0.6rem;
}
.album img{
    height:3.1rem;
    width:3.1rem;
    margin-right: 0.6rem;
    border-radius: 0.35rem;
}
.alb{
    font-weight: 500;
    font-size:0.7rem;
    line-height: 1rem;
    margin-right: 0.5rem;
}
.alb .subname{
    font-size:0.6rem;
    opacity:0.7;
}
.player{
    width:60%;
    display: flex;
    flex-direction: column;
}
.player-icons{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:0.5rem;
}
.player-icons img{
    margin-right:1.3rem;
    width:0.8rem;
    height:0.8rem;
    opacity:0.7;
}
.player-icons .playericon3{
    height:1.6rem;
    width:1.6rem;
    opacity:1;
}
.player-icons img:hover{
    opacity:1;
}
.player-line{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:0.2rem;
    appearance: none;
    font-size: 0.7rem;
}
.progressline{
    margin:0 0.5rem;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    width: 70%;
}
.progressline::-webkit-slider-runnable-track{
    background-color: grey;
    height:0.15rem;
    border-radius: 3rem;
}
.progressline::-webkit-slider-thumb{
    appearance: none;
    height:0.6rem;
    width:0.6rem;
    background-color:#1bd760;
    border-radius:50%;
    margin-top:-0.25rem;
}
.volume {
    width:20%;
    bottom: 0.5rem;
    right: 20px;
    display: flex;
    align-items: center;
    /* gap: 0.6rem; */
}
.volume i {
    font-size: 0.7rem;
    cursor: pointer;
    opacity:0.7;
    margin-right: 0.5rem;
    margin-left:0.5rem;
}
.volume i:hover{
    opacity:1;
}
.volume-slider {
    width: 4.5rem;
    height: 4px;
    margin-top:0.25rem;
    margin-left:0;
}
